services:
  app-alicia:
    build: .
    container_name: contenedor-alicia-coach
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development